GITHUB_TOKEN=

MYSQL_LOCAL_HOST=localhost
MYSQL_LOCAL_PORT=3306 # You can leave the port as is or change it if you are already running a local mysql server

MYSQL_DOCKER_PORT=3306

# You do not need to create the database yourself.
# `prsima:*_setup` will create the database and tables
# Therefore you can just write whatever database name you want
MYSQL_DATABASE=
MYSQL_ROOT_PASSWORD=

DATABASE_URL=mysql://root:${MYSQL_ROOT_PASSWORD}@${MYSQL_LOCAL_HOST}:${MYSQL_LOCAL_PORT}/${MYSQL_DATABASE}