GITHUB_TOKEN=
# You do not need to create the database yourself.
# `prsima:*_setup` will create the database and tables
# Therefore you can just write whatever database name you want
MYSQL_DATABASE=
MYSQL_HOST=
MYSQL_PORT=
MYSQL_PASSWORD=
MYSQL_USER=

DATABASE_URL=mysql://$MYSQL_USER:$MYSQL_PASSWORD@$MYSQL_HOST:$MSQL_PORT/$MYSQL_DATABASE